<!DOCTYPE html>
<html lang="pt-br">
    <link rel="stylesheet" href="/static/styles/bemvindo.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <!-- Fontes -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bemvindo.css') }}">
</head>
<body>
    <div class="container">
        <h1>BEM VINDO</h1>
        <p>Bem-vindo ao Amethyst Investment! Estamos muito felizes em tê-lo conosco. Explore as vantagens de investir conosco e comece sua jornada para alcançar seus sonhos financeiros.</p>
        <a href="/">Site</a>
    </div>
</body>
</html>
